.wrapper {
	padding: 0px 30px;
	opacity: 85%;
	height: 80vh;
	border-top-left-radius: 350px !important;
	border-top-right-radius: 350px !important;
}

.step_container {
	display: flex;
	justify-content: space-between;
}

.guest_name {
	margin-top: 9px;
}

.guest_label {
	width: 180px;
	clear: left;
	padding-right: 10px;
}

.song_request_wrapper {
	padding: 10px 0px 10px 0px;
}
