html,
#root,
body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #333;
	height: 100vh;
	width: 100vw;
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-image: url('../assets/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* .App {
	padding: 2rem;
} */

/* 
	--- NAVBAR --- 
*/
.navbar {
	display: flex;
	align-items: center;
	border-radius: 4px;
	flex-wrap: wrap;
	padding: 30px;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar > div {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.navbar__link {
	color: white !important;
	margin: 1em;
	font-family: 'Alegreya Sans', sans-serif;
	cursor: pointer;
	letter-spacing: 0.1em !important;
	text-indent: 0.3em;
	border-bottom: 3px solid transparent;
	font-size: 1.25rem;
}
.navbar__brand {
	font-family: 'Alegreya Sans', sans-serif !important;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: inherit;
	white-space: nowrap;
	text-transform: uppercase;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	margin-right: 1rem;
	font-size: 1.5em !important;
	letter-spacing: 0.1em !important;
}

.navbar__link,
.navbar__link:hover {
	color: #181818;
	text-decoration: none;
}

.navbar__link--active {
	border-bottom: 1px solid white;
	transition: border-bottom 0.2s ease-in-out;
}

.navbar__link:hover {
	transform: translateY(-2px);
	color: #181818;
	text-decoration: none;
}

/* 
	--- CUSTOM CLASSES ---
*/
.align-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-items-center {
	display: flex;
	align-items: center;
}

.text-link {
	text-decoration: none !important;
}

.text-link:hover {
	text-decoration: underline !important;
}

.center_element {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 60%;
	max-width: 600px;
}

@media (max-width: 550px) {
	.center_element {
		width: 90%;
	}
}

.home-page {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
}

.home-page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
}
