html,
#root,
body {
	font-family: Roboto, Archivo, sans-serif;
	color: #333;
	min-width: 430px;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-image: url('../assets/background.jpg');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.App {
	padding: 2rem;
}

:root {
	--uf-primary: #ce0058;
	--uf-secondary: #041b64;
	--uf-disabled: #0e8a4485;
	--uf-lighter: #0e8a4417;
	--button-text: white;
	--button-text-secondary: rgb(255, 255, 255);
}

/* 
	--- NAVBAR --- 
*/
.navbar {
	display: flex;
	align-items: center;
	border-radius: 4px;
	flex-wrap: wrap;
	padding: 0px 17px 0px 10px;
}

.navbar > div {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.navbar__link {
	color: white !important;
	margin: 1em;
	font-family: Roboto, Archivo, sans-serif;
	cursor: pointer;
	letter-spacing: 0.1em !important;
	text-indent: 0.3em;
	border-bottom: 3px solid transparent;
	font-size: 1rem;
	padding: 0.625rem 0rem 0.3125rem 0rem;
}
.navbar__brand {
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: inherit;
	white-space: nowrap;
	text-transform: uppercase;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	margin-right: 1rem;
	font-size: 1.5em !important;
	letter-spacing: 0.1em !important;
}

.navbar__link,
.navbar__link:hover {
	color: #181818;
	text-decoration: none;
}

.navbar__link--active {
	border-bottom: 1px solid white;
	transition: border-bottom 0.2s ease-in-out;
}

.navbar__link:hover {
	transform: translateY(-2px);
	color: #181818;
	text-decoration: none;
}

/* 
	--- CUSTOM CLASSES ---
*/
.align-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-items-center {
	display: flex;
	align-items: center;
}

.text-link {
	text-decoration: none !important;
}

.text-link:hover {
	text-decoration: underline !important;
}

.center_element {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.home-page {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
}

.home-page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
