html,
#root,
body {
	font-family: 'Alegreya Sans', sans-serif;
	color: #253551;
	/* background-color: rgb(160, 96, 18); */
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

/* 
	--- NAVBAR --- 
*/
.navbar {
	display: flex;
	align-items: center;
	border-radius: 4px;
	flex-wrap: wrap;
	padding-top: 20px;
	font-family: 'Alegreya Sans', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar > div {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-right: 1.4rem;
}

.navbar__link {
	color: white !important;
	margin: 1em;
	font-family: 'Alegreya Sans', sans-serif;
	cursor: pointer;
	letter-spacing: 0.1em !important;
	text-indent: 0.3em;
	border-bottom: 3px solid transparent;
	font-size: 1.25rem;
}
.navbar__brand {
	font-family: 'Alegreya Sans', sans-serif !important;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: inherit;
	white-space: nowrap;
	text-transform: uppercase;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	margin-right: 1rem;
	font-size: 1.5em !important;
	letter-spacing: 0.1em !important;
	margin: 0;
	position: relative;
}

.navbar__link,
.navbar__link:hover {
	color: #181818;
	text-decoration: none;
}

.navbar__link--active {
	border-bottom: 1px solid white;
	transition: border-bottom 0.5s ease-in-out;
}

.navbar__link:hover {
	transform: translateY(-2px);
	color: #181818;
	text-decoration: none;
}

/* 
	--- CUSTOM CLASSES ---
*/
.align-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-contents {
	display: flex;
	align-items: center;
	justify-content: center;
}

.justify-content {
	display: flex;
	justify-content: center;
}

.align-items-center {
	display: flex;
	align-items: center;
}

/* 
* --- PAGE ELEMENTS ---
*/

.rsvp_form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 60%;
	max-width: 500px;
}

@media (max-width: 550px) {
	.rsvp_form {
		width: 90%;
	}
}

.landing-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.landing-wrapper-header {
	font-size: 50px;
	letter-spacing: 0.1em;
}

.landing-wrapper-subheading {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.landing-wrapper-body {
	font-size: 20px;
}

.landing-wrapper-content {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0.5rem;
}

section {
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section.home {
	background-image: url('../assets/home.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.rsvp {
	background-image: url('../assets/home.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.location {
	background-image: url('../assets/location.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.gifts {
	background-image: url('../assets/home.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
