/* 
	--- MUI OVERRIDES ---
*/

/* Borderless Accordion */
.accordion-borderless {
	border: 0px !important;
	margin: 0px !important;
}

.accordion-borderless::before {
	height: 0px !important;
}

.accordion-borderless > .MuiAccordionSummary-root {
	display: inline-flex !important;
	padding: 0px !important;
}

.MuiTypography-root {
	font-family: 'Alegreya Sans', sans-serif !important;
}

.rsvp-button {
	color: white !important;
	border-color: white !important;
	border-radius: 0 !important;
	padding: 10px 20px !important;
	margin-left: 20px !important;
}

.rsvp-button:hover {
	color: black !important;
	background-color: white !important;
}

.rsvp-button-active {
	color: black !important;
	background-color: white !important;
}

.half-circle {
	width: 200px;
	height: 100px;
	background-color: white;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	border: 10px solid gray;
	border-bottom: 0;
}
